label.error{
    color: red;
    font-size: 14px;
    display: block;
}
.card-info:not(.card-outline)>.card-header {
    background-color: #15305b;
}
.card-title{
    margin-bottom: 0;
    color: #fff;
}
.btn-info {
    color: #fff;
    background-color: #15305b;
    border-color: #15305b;
}
.card-body{
    padding: 1.25rem 1.25rem 1.30rem;
}
