.teacher-h2 {
    text-align: center;
    margin-bottom: 46px;
    font-size: 25px;
    position: relative;
    color: #294a70;
}

.teacher-h2::before {
    content: '';
    position: absolute;
    background: #0c002b;
    height: 2px;
    width: 26%;
    top: 130%;
    transform: translateY(-50%);
    left: 288px;
}

.teacher-h2::after {
    content: '';
    position: absolute;
    background: #1779ff;
    height: 2px;
    width: 26%;
    top: 130%;
    transform: translateY(-50%);
    margin-left: -71px;
}

.widget-title {
    text-align: center;
}

#primary-sidebar {
    width: 81% !important;
    padding-left: 7px !important;
    padding-right: 8px !important;
    float: left;
}

#primary-sidebar-teacher .widget-title,
#sidebar-secondary .widget-title {
    background: #294a70 none repeat scroll 0 0;
    border-bottom: 0 solid #ffab1f;
    border-left: 5px solid #ffab1f;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    padding: 3px 15px;
    position: relative;
    margin-bottom: 20px;
}

.main-content {
    padding: 0px 0 9px !important;
}


/* committee css */

.committee-type-h2 {
    text-align: center;
    margin-bottom: 46px;
    font-size: 25px;
    position: relative;
    color: #294a70;
}

.committee-type-h2::before {
    content: '';
    position: absolute;
    background: #0c002b;
    height: 2px;
    width: 26%;
    top: 130%;
    transform: translateY(-50%);
    left: 290px;
}

.committee-type-h2::after {
    content: '';
    position: absolute;
    background: #1779ff;
    height: 2px;
    width: 26%;
    top: 130%;
    transform: translateY(-50%);
    margin-left: -136px;
}

.committe-member p {
    margin-bottom: 2px;
    text-align: center;
    font-family: roboto;
    color: #294a70;
}

.committe-member {
    margin-top: 10px;
}


/* End committee css */